<li class="clearfix group-message" id="{{line_id}}">
    <div class="message-data">
        <span class="message-data-time" >{{viewStamp}}</span>
        <span class="message-data-name pull-right">{{viewUsername}}</span>
    </div>
    <div class="message other-message float-right">
        {{message}}
    </div>
    <a class="voting" lineid="{{line_id}}" href="javascript:void(0);">
        <span class="float-right" style='margin-right: 5px;'><i class="entypo-heart-empty"></i></span>
        <div class="float-right numVotes">
            {{num_votes}}
        </div>
    </a>
    </div>
</li>
