<li class="clearfix" id="{{line_id}}">
    <div class="message-data">
        <span class="message-data-name pull-left">{{viewUsername}}</span>
        <span class="message-data-time">{{viewStamp}}</span>
    </div>
    <div class="message my-message float-left">
        {{message}}
    </div>
    <a class="voting" href="javascript:void(0);">
        <span class="float-left" style='margin-left: 5px;'><i class="entypo-heart-empty"></i></span>
        <div class="float-leftnumVotes">
            {{num_votes}}
        </div>
    </a>

</li>
