<script id="message-template" type="text/x-handlebars-template">
    \{{#each this}}
        <div class="\{{direction}} chat-line">
            <div id="mess" class="author-name">
                <div class="date-chat">
                    \{{viewStamp}}    
                </div>    
                <a href="#" class="author-name">\{{viewUsername}}</a>
                
            </div>
            <div class="chat-message \{{active}}" style="text-align:left">
                \{{message}}
            </div>
        </div>
    \{{/each}}
</script>
