<section class="search-results-env">
    <div class="row">
        <div class="col-md-12">
            <!-- Search categories tabs -->
            <ul class="nav nav-tabs right-aligned">
                <li class="tab-title pull-left">
                    <div class="search-string">{{num_results}} results found for: <strong>{{search_term}}</strong></div>
                </li>
            </ul>
            <!-- Search search form -->
            <div class="search-results-panes">
                <div class="search-results-pane active" id="pages">
                    <ul class="search-results">
                        {{#each result_list}}
                            <li class="search-result">
                                <div class="sr-inner">
                                    <h4>
                                        <a href="/chats/{{_source.id}}">{{_source.chat_name}}</a>
                                        <button type="button" class="btn btn-red btn-icon btn-sm btn-indexing" style="color: white; margin-left: 10px;">
                                            <small style="color: white">Code Required</small>
                                            <i class="entypo-lock"></i>
                                        </button>
                                    </h4>
                                    <form role="form" class="chat_code_specific"> 
                                        <input type="text" class="form-control input-sm" style="max-width: 140px;" name="enter_code_specific" placeholder="Enter code..."/>
                                        </form>
                                    <p class="small_font">{{_source.description}} No description provided.</p>
                                    <span class="label label-success">
                                        Number of messages:  <strong>{{_source.num_messages}}</strong>
                                    </span >
                                    <span class="label label-success">
                                        Number of members:  <strong>{{_source.num_members}}</strong>
                                    </span >
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                    <!-- Pager for search results -->
                    <ul class="pager">
                        <li><a href="#"><i class="entypo-left-thin"></i> Previous</a></li>
                        <li><a href="#">Next <i class="entypo-right-thin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
