doctype html
html
	head
		meta(charset='utf-8')
		// <meta name="viewport" content="width=device-width, initial-scale=1.0">
		// <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		meta(name='viewport', content='width=1024')
		title ChatIO
		link(href='/stylesheets/css/bootstrap.min.css', rel='stylesheet')
		link(href='/stylesheets/font-awesome/css/font-awesome.css', rel='stylesheet')
		link(href='/stylesheets/css/animate.css', rel='stylesheet')
		link(href='/stylesheets/css/style.css', rel='stylesheet')
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway')
		link(href='/stylesheets/css/index.css', rel='stylesheet')
	body.top-navigation
		#wrapper
			#page-wrapper.gray-bg
				.row.border-bottom
					.row.border-bottom.white-bg
						nav.navbar.navbar-static-top(role='navigation')
							.navbar-header
								a.navbar-brand(href='home.php') ChatIO
							ul.nav.navbar-top-links.navbar-right
								li
									a(href='login.php', style='font-family: Raleway; font-weight: 200;')
										| #{username}
								li.dropdown(style='')
									a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
										i.fa.fa-bell
										span.label.label-primary 8
								li
									form(method='post', action='/logout')
										button.btn.small-buttons(name='logout', type='submit')
											i.fa.fa-sign-out
				.wrapper.wrapper-content
					.container.animated.fadeInDown
						.slogan
							span Welcome, #{first}!
						.title
							span Chat
						.logo
							button#i.btn.btn-primary.filler
							button#o.btn.btn-primary.filler
						.tool-bars
							form.m-t(role='form', method='post', action='/chats/join_chat')
								.form-group.center-block
									input.form-control.custom-tool(name='joinChat', placeholder='Enter Chat Code', autocomplete='off', required='')
									button.btn.btn-primary.custom-tool-buttom(type='submit', name='join_chat') Join
							form.m-t(role='form', method='post', action='/chats/create_chat')
								.form-group.center-block
									input.form-control.custom-tool(name='createChat', placeholder='Create Chat Code', autocomplete='off', required='')
									button.btn.btn-primary.custom-tool-buttom(type='submit', name='create_chat') Create
						.subtitle.pre-scrollable.center-block
							div(style='margin-bottom: 14px') Recent Chats
							- for(var i = 0; i < list.length; i++) {
								.chat-link.center-block
									.div(id=list[i].id)
										a(href='/chats/' + list[i].id)= list[i].chat_name
										- if(list[i].num_notifications != 0) {
											span.label.label-primary= list[i].num_notifications
										- }

										- else {
											span.label.label-primary=""
										- }

							- }
							#see-all.chat-link.center-block
								a(href='#') See all
					//
						<div class="container animated fadeInDown">
						<div class="slogan">
						<span>Instant Messaging. Redefined.</span>
						</div>
						<div class="title">
						<span>Chat</span>
						</div>
						<div class="logo">
						<button class="btn btn-primary filler" id="i"></button>
						<button class="btn btn-primary filler" id="o"></button>
						</div>
						<div class="buttons">
						<input type="submit" class="btn btn-primary" id="register" value="Sign up">
						<input type="submit" class="btn btn-primary" id="login" value="Log in">
						</div>
						</div>
				.footer
					div
						strong Copyright
						|  ChatIO © 2017
		// Mainly scripts
		script(src='/javascripts/js/jquery-2.1.1.js')
		script(src='/javascripts/js/bootstrap.min.js')
		script(src='/javascripts/js/plugins/metisMenu/jquery.metisMenu.js')
		script(src='/javascripts/js/plugins/slimscroll/jquery.slimscroll.min.js')
		// Custom and plugin javascript
		script(src='/javascripts/js/inspinia.js')
		script(src='/javascripts/js/plugins/pace/pace.min.js')
		// Flot
		script(src='/javascripts/js/plugins/flot/jquery.flot.js')
		script(src='/javascripts/js/plugins/flot/jquery.flot.tooltip.min.js')
		script(src='/javascripts/js/plugins/flot/jquery.flot.resize.js')
		// ChartJS
		script(src='/javascripts/js/plugins/chartJs/Chart.min.js')
		// Peity
		script(src='/javascripts/js/plugins/peity/jquery.peity.min.js')
		// Peity demo
		script(src='/javascripts/js/demo/peity-demo.js')
		script(src='/javascripts/js/formslider.js')
		script(src='/javascripts/js.cookie.js')
		//script(src='/javascripts/socket.io-client/dist/socket.io.js')
		script(src='/javascripts/js/require.js')
		script(src='/javascripts/requireconfig.js')
		script.
			var roomIDs = !{JSON.stringify(list)}
		script(src='/javascripts/js/home-setup.js')
